
#container {
  background-color:Sienna;
  height: auto;
  width:600px;
  padding: 20px 0px 0px 0px;
  margin: 0 auto;
    border: 1px solid;
    border-color: Wheat;
}

/* HEADER */

#topbar {
    background: url(pics/coffey.jpg);
    height: 200px;
    float: inherit;
    background-repeat: no-repeat;
    clear: both;
    text-align: right;

  /* CONTENT */  
}

#maincontent {
    height: 400px;
    width: 375px;
    background-color: Lavender;
    background-size: 500px;
    float: left;
    clear: left;
}


#maincontent p {
    color: Peru;
    font-family: Times, 12px;
    
    
    
    
}


#subcontent {
    background-color: Lavender;
    float:right;
    clear:right;
    width: 224px;
    min-height: 400px;
    border-left: 1px dashed;
    border-color: Silver;
    
    
}

#subcontent p {
    padding: 0px 0px 0px 12px;
    font-style: italic;
    font-family: Verdana, Sans-serif;
    font-size: 12px;
    color: LightSlateGrey;
    line-height: 20px;
}

#subcontent h1 {
    padding: 20px 0px 0px 12px;
    font-family: Verdana, Sans-serif;
    color:LightSlateGrey ;
    font-size: 15px;
}

#subcontent h2 {
    padding: 40px 0px 0px 12px;
    font-size: 13px;
    font-family: Verdana, Sans-serif;
    color: SlateGrey ;
}
#subcontent ul {
    padding:0px 0px 0px 12px;
    height: auto;
    margin: auto;
    list-style-type: none;
}
#subcontent a {
    
    text-decoration: none;
    color: SlateGrey;
}







 /* MENY */
 

#menu {
    width: 506px;
    height: 39px;
    text-align: center;
    padding: 10px;
}

#menu ul {
    height: auto ;
    padding: 7px 0px;
    Margin: auto;
    background-color: SandyBrown;
    
    
}



#menu li {
    display: inline;
    padding: 7px;
   
    
}
#menu a{
    Font-family: Verdana;
    text-decoration: none;
    color: white;
    padding: 7px;
}
#menu .active {
         color: blue;
         background-color: Lavender;
}

#menu a:hover{ 
 
 color: black;
 background-color: wheat;
}




/* RUBRIKER */








/* FOOTER */

#bottomcontent {
    background-color: Lavender;
    padding: 15px;
    width: 570px;
    clear:both;
    font-family: Verdana, Sans-serif 5px;
    font-style: italic;
    color: Peru;
    
    
}






